/* font */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto:wght@400;500;900&display=swap');

/* Source: Google family: https://fonts.google.com/specimen/Lato?query=Lato */

body {
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(#76F884, #24D2F8);
    color: #2c2c2c;
    font-weight: 400;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: #25d3f4;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 0.1;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: #2c2c2c;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: -1px;
    text-align: center;
}

h3 {
    font-family: 'Lato', sans-serif;
    color: #2c2c2c;
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-family: 'Roboto', sans-serif;
    color: #2c2c2c;
    font-size: 1.5rem;
    font-weight: 500;
}

footer {
    font-family: 'Roboto', sans-serif;
    color: #2c2c2c;
    font-weight: 400;
    font-size: smaller;
}

p {
    line-height: 25px;
}

p a {
    text-decoration: none;
    color: #25d3f4;
    cursor: pointer;
}

p a:hover, a:focus {
    color: #fb4e03;
    padding-bottom: 4px;
    font-weight: 500;
    border-bottom: 1px solid #fb4e03;
    transition-property: color;
    transition-duration: 0.1s;
    cursor: pointer;
} 
/* font(end)*/

.container{
    width: 100%;
    margin:0 auto;
}

.box{
    width:100%;
}

/* nagivation bar(normal) */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #4d4d4d;
    z-index: 101;
}

.header-container {
    margin: auto;
    max-width: 1000px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-header img {
    width: 30px;
    height: 30px;
}

#my-website {
    margin-left: 20px;
}

nav a, #my-website a {
    text-decoration: none;
    color: #25d3f4;
}

nav a:hover, nav a:focus, #my-website a:hover, #my-website a:focus {
    color: #fb4e03;
    padding-bottom: 4px;
    font-weight: 500;
    border-bottom: 2px solid #fb4e03;
    transition-property: color;
    transition-duration: 0.2s;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* nagivation bar(normal)-end */


/* content */
.content {
    position: relative;
    width:100%;
    margin:0 auto;
}

.content-body-1 {
    background-color: white;
}

.content-body-2 {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
}

.content-body-2 {
    max-width: 1000px;
    display: grid;
}

.content-body-2 img {
    width: 1000px;
    height: 563px;
    object-fit: cover;
    /* border-radius: 4px; */
    /* border: 1px solid #2c2c2c; */
}

.article-box {
    margin-top: 50px;
    background-color: white;
    border-radius: 4px;
}


.article-cover img {
    height: 400px;
    width: 1000px;
    object-fit: cover;
    border-radius: 4px;
}

#image-source {
    font-size: smaller;
    padding-left: 30px;
    padding-right: 30px;
}

.article-content {
    margin-top: 40px;
    margin-right: 60px;
    margin-left: 60px;
    padding-bottom: 60px;
}

#time-stamp {
    padding-top: 20px;
    text-align: right;
}


/* footer */
footer {
    text-align: center;
    width: 100%;
    margin-top: 3rem;
    border-top: 1px solid #4d4d4d;
    z-index: 60;
}

.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer img{
    width: 30px;
    height: 30px;
    margin-top: 1rem;
}

.social-media-icons {
    display: grid;
    justify-content: center;
    grid-template-columns: 42% 4% 4% 4% 42%;
    grid-template-rows: repeat(1, 1fr);
    margin: 0.6rem;
}
/* how to make these icons have the same relative distance? */

.social-media-icons :nth-child(1) {
    grid-column: 2;
}

#footer-text {
    color: #6f6f6f;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
}

#footer-text-links {
    display: flex;
}

#footer-text-links p{
    padding-right: 20px;
}

#footer-text-links a{
    color: #6f6f6f;
}


/* media-query */
@media (min-width: 0px) and (max-width: 1200px) {


    #my-website {
        margin-left: 20px;
    }

    .content-body-2 {
        max-width: 1000px;
        margin: 0 auto;
    }

    #footer-text {
        margin-left: 20px;
        margin-right:20px
    }

}



@media (min-width: 0px) and (max-width: 1000px) {

    .content-body-2 {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .project-introduction-1,.project-introduction-2, .project-introduction-3 {
        display: contents;
    }

    .project-type, .project-duration, .project-roles, .project-context, .project-description, .project-tools {
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 0px;
    }

    .content-body-2 img {
        width: 100%;
        height: auto;
        object-fit: cover;
        /* border-radius: 4px; */
        /* border: 1px solid #2c2c2c; */
    }
    
    .article-cover img {
        height: auto;
        width: 100%;
        object-fit: cover;
    }

    p {
        padding-left: 20px;
        padding-right: 20px;
    }

    input[type=button] {
        position: relative;
    }

    .article-title {
        text-align: center;
    }



    #footer-text {
        display: block;
        text-align: center;
    }

    #footer-text-links {
        justify-content: center;
    }

}



@media (min-width: 450px) and (max-width: 800px) {
    .social-media-icons {
        grid-template-columns: 37.5% 7% 7% 7% 37.5%;
    }
}

@media (min-width: 0px) and (max-width: 450px) {
    .social-media-icons {
        grid-template-columns: 34.5% 9% 9% 9% 34.5%;
    }
}